extend layout

block content
  h2 Entries
  each post in posts
    p= post.date.toDateString()

    h3
      a(href="" + permalinkPrefix + post.route)
        span= post.title

    p
      if post.categories && post.categories.length > 0
        span= ' Categories: ' + post.categories + '.'

      if post.tags && post.tags.length > 0
        span= ' Tags: ' + post.tags + '.'

    p!= post.body
