doctype html
html
  head
    title= title + " - " + author
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='alternate', href=feedURL, title='Evolving Bits', type='application/atom+xml')
    meta(name="viewport", content="width=device-width")
    link(href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic", rel="stylesheet", type="text/css")
    link(rel='stylesheet', href='/stylesheets/foundation-icons.css')
  body
    // Nav Bar
    div.row
      div.large-12.columns(role="header")
        div.nav-bar.right
          ul.inline-list.right
            li
              a(href="http://www.github.com/briangershon", target="_blank")
                i.fi-social-github.size-24
            li
              a(href="http://www.twitter.com/brianfive", target="_blank")
                i.fi-social-twitter.size-24
            li
              a(href="http://www.linkedin.com/in/briangershon", target="_blank")
                i.fi-social-linkedin.size-24
            li
              a(href=feedURL)
                i.fi-rss.size-24

        h1
          a(href="/")= title
          //- small  Javascript

    div.row
      div.large-12.columns(role="header")
        ul.inline-list.left
          li <a href="/">Blog</a>
          li <a href="/blog/archives/">Archives</a>

    // Main Page Content and Sidebar
    if showSidebar
      div.row(data-equalizer)
        div.large-9.columns(role="content", data-equalizer-watch)
          block content

        // Sidebar
        div.large-3.columns.sidebar(role="sidebar", data-equalizer-watch)
          block sidebar

    if !showSidebar
      div.row
        div.large-12.columns(role="content")
          block content

  // Footer
  footer.row
    div.large-12.columns(role="footer")
      div.row
        div.large-12.columns
          hr
          p © Copyright 2014 Brian Gershon.
          p This is my <a href="https://github.com/briangershon/bitesizeblog" target="_blank">home-grown blog</a> running on node.js.
    p
      small= "post data cached " + cacheTimestamp

  script(src='/javascripts/vendor/jquery.js')
  script(src='/javascripts/foundation.min.js')

  script.
    $(document).foundation();

  include googleanalytics
