doctype html
html
  head
    title= title + " - " + author
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='alternate', href=feedURL, title='Evolving Bits', type='application/atom+xml')
    meta(name="viewport", content="width=device-width")
    link(href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic", rel="stylesheet", type="text/css")
  body
    // Nav Bar
    div.row
      div.large-12.columns
        div.nav-bar.right
          ul.button-group
            li
              a.button(href="http://www.github.com/briangershon", target="_blank") GitHub
            li
              a.button(href="http://www.twitter.com/brianfive", target="_blank") Twitter
            li
              a.button(href="http://www.linkedin.com/in/briangershon", target="_blank") LinkedIn
            li
              a.button(href=feedURL) <img src="/images/rss.png" alt="atom feed" width="15px" />
        h1
          a(href="/")= title
          //- small  Javascript

    div.row
      div.large-12.columns
        ul.inline-list.left
          li <a href="/">Blog</a>
          li <a href="/blog/archives/">Archives</a>
        hr

    // Main Page Content and Sidebar
    if homePage
      div.row
        div.large-9.columns(role="content")
          block content

        // Sidebar
        div.large-3.columns.sidebar
          block sidebar

    if !homePage
      div.row
        div.large-12.columns(role="content")
          block content

  // Footer
  footer.row
    div.large-12.columns
      div.row
        div.large-12.columns
          hr
          p © Copyright 2014 Brian Gershon. This is my <a href="https://github.com/briangershon/bitesizeblog" target="_blank">home-grown blog</a> running on node.js.

        //- div.large-4.columns
          //- ul.inline-list.right
          //-   li <a href="#">Link 1</a>
          //-   li <a href="#">Link 2</a>
          //-   li <a href="#">Link 3</a>
          //-   li <a href="#">Link 4</a>

    p
      small= "post data cached " + cacheTimestamp

  script(src='/javascripts/vendor/jquery.js')
  script(src='/javascripts/foundation.min.js')

  script.
    $(document).foundation();

  include googleanalytics
